name: Mirroring

on:
  push:
    branches-ignore:
      - dependabot/**
  delete:

jobs:
  to_gitlab:
    concurrency:
      group: mirroring
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:                                              # <-- must use actions/checkout before mirroring!
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@git.biishop.org:flyboat/vite-project.git
          ssh_private_key:                              # <-- use 'secrets' to pass credential information.
            ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
